[[source]]
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true
name = "tsinghua"

[packages]
torch = "==1.8.0"
torchvision = "==0.9.0"
pytest = "*"
onnxruntime = "*"
pillow = "*"
protobuf = "==3.19.0"
onnx = "*"
torchmetrics = "*"
loguru = "*"
scipy = "*"
tqdm = "*"

[dev-packages]

[requires]
python_version = "3.8"
